/* Big Tablet to 1200px from 1024px - 1200px */

@media only screen and (max-width: 1400px) {

    .navi {
        width: 50%;
        padding: 30px .2em;
    }

    .fixed-nav nav {
        padding: 30px .2em;
    }

    .navi ul li a:link,
    .navi ul li a:visited {

    font-size: 85%;
    transition: color 300ms;

    
}



.navi ul li { display: inline-block; padding: .5em; }


.logo {
    height: 6em;
    margin-left: 5%;
    margin-top: 5px;
}


.time {
    
    padding-right: 2%;
   
 }
 .status {
        
    padding-top: 15%;
   
}





}







/* Small tablet to Big Tablet from 768px - 1023px */

@media only screen and (max-width: 1023px) { 
    body { font-size: 16px;}
    .logo {
        height: 7em;
        margin-left: 5%;
        margin-top: 5px;
    }

    .navi {
        width: 70%;
    }

    .grid1 {
       
        display: flex;
        margin-left: 25%;
        margin-bottom: 25px;
        flex-direction: column;
      
    }

    

    

    .phone {
    visibility: hidden;
       margin: 0;
       padding: 0;
   }

   .time {
       visibility: hidden;
       margin: 0;
       padding: 0;
   }

    .gridrow {
        width: 90%;
        margin-left: 5%;
        column-gap: 2rem;
        
    }

    .status {
        
        padding-top: 15%;
       
    }


}









/* Small phones to small tablets from 481px - 767px */

@media only screen and (max-width: 767px) {
    *{
        margin: 0;
        padding: 0;
    }
    body { font-size: 13px;}

    .navi {
        top: 110px;
        width: 60%;
    }
    .grid1 {
       
        display: flex;
        margin-left: 25%;
        margin-bottom: 5px;
        flex-direction: column;
      
    }

    .logo {
        height: 6em;
        margin-left: 6%;
        margin-top: 15px;
    }

    .footer-logo {
         height: 75px;
         width: auto;
         top: 55px;
     }

}










/* Small phones from 0 - 480px */

@media only screen and (max-width: 480px) {
    @media only screen and (max-width: 480px) {
        body {font-size: 14px;}
    
        .navi {
            top: 140px;
            width: 100%;
           
        }
        
    
        .logo {
            height: 5em;
            margin-left: 2%;
            margin-top: 20px;
        }
    
       .grid1 {
           
           display: flex;
          margin-left: 3%;
           
          flex-flow: column-reverse;
       }
    
      
    
       .hours {
        
        color: #30302f;
        font-weight: bold;
        
    }
    
       .phone {
        visibility: hidden;
           margin: 0;
           padding: 0;
       }
    
       .time {
           display: none;
           margin: 0;
           padding: 0;
       }
       
       .gridrow {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0;
        grid-gap: 15%;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .form {
        grid-row: 6;
    }

    .status {
        padding-top: 10%;
        margin: auto;
        width: 100%;
        text-align: center;
    }
    
        
    footer {
        grid-row: 12;
        background-color: #333;
        padding: 40px;
        font-size: 80%;
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
    
    }
    
    .footer-logo {
        height: 50px;
        top: 57px;
    }
    
    }







}