* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: "Lato", 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

body {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns:repeat(10, 1fr);
    overflow-x: hidden;
    margin: 0 auto;
   
}


/** HEADER WITH CONTACT INFO******************************/
/*******************************************/



header {
    background-color: #F9F9FC;
    grid-column: 1 / span 10;
    grid-row: 1 / span 2;
    padding-top: 7px;
    z-index: 2;
    height: 10em;
    display: flex;
    
    
   
}
.logo {
    height: 6em;
    width: auto;
    margin-left: 8%;
    margin-top: 5px;
}

.phone {
    margin-left: 10%;
    font-size: 1.8em;
    padding-right: 2%;
    color: #797878;
    
}

.grid1 {
    
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
    margin-right: 2%;
    flex: 1 1 20em;
   
    
}

.hours {
    
    color: #30302f;
    font-weight: bold;
    display: inline-block;
    font-family: "MininonPro", serif;
}






.time {
   padding-left: 5%;
   padding-right: 1.9%;
   color: #797878;
    font-size: 1.8em;

}




/** NAVIGATION ******************************/
/*******************************************/

/*.nav {
    grid-column: 4 / span 4;
    grid-row: 2 / span 2;
    background-color: #30302f;
    z-index: 5;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    

}
*/

.nav {
    position: absolute;
    top: 145px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
     
    z-index: 5;
    background: #30302f;
    padding: 30px .1em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.fixed-nav nav {

    position: fixed;
    top: 0;
    background: #30302f;
    padding: 30px .1em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}



span {
    color: #39ae38;
    
    text-decoration: none;
}

.nav {
    list-style: none;
   
}

.nav ul li {
    display: inline-block;
    padding: .5em;
    
}

.nav ul li a:link,
.nav ul li a:visited {
   
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    transition: color 300ms;
}





.nav ul li a:after {
    padding-bottom: 4px;
    display: block;
    content: '';
    border-bottom: solid 1px #39ae38;  
    transform: scaleX(0);  
    transition: transform 300ms ease-in-out;
    
}

.nav ul li a:hover,
.nav ul li a:active{
    color: #39ae38;

}

.nav ul li a:hover:after { transform: scaleX(1); }



/** Appointment *********************************************************************/
/***********************************************************************************************/


.heading-text{
    grid-column: 3 / span 6;
    grid-row: 6;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: "MininonPro", serif;
    color: #30302f;
}

h3 {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-transform: none;
    padding-top: 30px;
}

.appoint {
    grid-column: 3 / span 6;
    grid-row: 8 / span 1 ;

}





/** FOOTER  *************************************************************/
/*******************************************/


footer {
    grid-column: 1 / span 10;
    grid-row: 15;
    background-color: #333;
    padding: 40px;
    padding-top: 70px;
    font-size: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;

}

.footer-nav {
    list-style-type: none;
   
}

.footer-navi {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-images {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons {
    list-style: none;
   
   
    
}

.footer-nav li,
.social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-icons li:last-child {
    margin: 0;
}



.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #39ae38;
}

.footer-nav li a:after {
    padding-bottom: 4px;
    display: block;
    content: '';
    border-bottom: solid 1px #39ae38;  
    transform: scaleX(0);  
    transition: transform 300ms ease-in-out;
    
}

.footer-nav li a:hover:after { transform: scaleX(1); }

.social-icons li a:link,
.social-icons li a:visited {
    font-size: 160%;
}

.ion-logo-facebook,
.ion-logo-twitter,
.ion-logo-googleplus,
.ion-logo-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}



.ion-logo-facebook:hover {
    color: #3b5998;
}
.ion-logo-twitter:hover {
    color: #00aced;
}
.ion-logo-googleplus:hover {
    color: #dd4b39;
}
.ion-logo-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #888;
    text-align: center;
    
    margin-top: 60px;
}


.footer-logo {
   position: absolute;
  
    height: 100px;
    width: auto;
    top: 17px;
    
    
}