* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: "Lato", 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

body {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns:repeat(10, 1fr);
    
    margin: 0 auto;
   
}


/** HEADER WITH CONTACT INFO******************************/
/*******************************************/



header {
    background-color: #eaeaea;
    grid-column: 1 / span 10;
    grid-row: 1 / span 2;
    padding-top: 7px;
    z-index: 2;
    height: 10em;
    display: flex;
    
   
}
.logo {
    height: 150px;
    width: auto;
    margin-left: 5%;
    margin-top: 5px;
}

.phone {
    padding-left: 70px;
    font-size: 35px;
    
    
}

.grid1 {
    
    width: 300px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 5%;
    
}

.grid1 p {
    float: right;
}


.time {
    padding-left: 25px;
    font-size: 35px;

}


.grid2 {
    
    margin-top: 20px;
    width: 300px;
    margin-right: 5%;
    
}

.grid2 p {
    float: right;
   
}

/** NAVIGATION ******************************/
/*******************************************/

/*.nav {
    grid-column: 4 / span 4;
    grid-row: 2 / span 2;
    background-color: #30302f;
    z-index: 5;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    

}
*/

.nav {
    position: absolute;
    top: 145px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
     
    z-index: 5;
    background: #30302f;
    padding: 30px 100px;

}


.fixed-nav nav {

    position: fixed;
    top: 0;
    background: #30302f;
    padding: 30px 100px;
    

}



span {
    color: #39ae38;
    
    text-decoration: none;
}

.nav {
    list-style: none;
   
}

.nav ul li {
    display: inline-block;
    padding: .5em;
    
}

.nav ul li a:link,
.nav ul li a:visited {
   
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    transition: color 300ms;
}





.nav ul li a:after {
    padding-bottom: 4px;
    display: block;
    content: '';
    border-bottom: solid 1px #39ae38;  
    transform: scaleX(0);  
    transition: transform 300ms ease-in-out;
    
}

.nav ul li a:hover,
.nav ul li a:active{
    color: #39ae38;

}

.nav ul li a:hover:after { transform: scaleX(1); }


/** LANDING PAGE IMAGE ******************************/
/*******************************************/

.landing-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/remodel.jpg");
    background-position: center;
    background-size: cover;
    grid-column: 1 / span 10;
    grid-row: 2 / span 15;
    background-color: lightblue;
    background-attachment: fixed;
   
}

.landing-img h1 {
    position: absolute;
    z-index: 2;
    color: rgb(218, 214, 214);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/** SERVICES ******************************/
/*******************************************/



.gridrow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    width: 85%;
    margin-left: 7.5%;
    column-gap: 5rem;
    justify-content: center;
    align-content: stretch;
    

}




.services {
    grid-column: 1 / span 10;
    grid-row: 16 / span 16;
    background-color: #f7f7f7;
    padding: 80px 0;
   position: relative;
}

.services h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 180%;
    text-align: center;
    margin-bottom: 50px;
}

.services h2:after {
    content: " ";
    display: block;
    height: 2px;
    background-color: #39ae38;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    
    text-align: center;
    margin-bottom: 100px;
}


.box1 {
    text-align: center;
    
    
}

.box1 h3,
.box2 h3 {
    padding-bottom: 25px;
}


.divider1 {
    position:absolute;
    left:35%;
    top:47%;
    bottom:10%;
    border-left:1px solid #39ae38;
    height: 19%;
   
}
.divider2 {
    position:absolute;
    left: 65%;
    top:47%;
    bottom:10%;
    border-left:1px solid #39ae38;
    height: 19%;
   
}




.box2 {
    text-align: center;
  
}
.box3 {
    
    text-align: center;
    
    
   
}

.box3 h3 {
    padding-bottom: 25px
}


/** Scroll down page Image******************************/
/*******************************************/




.scroll-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/landpg.jpg");
    background-position: center;
    background-size: cover;
    grid-column: 1 / span 10;
    grid-row: span 10;
    background-color: lightgreen;
    background-attachment: fixed;
   
}


/** SCHEDULE APPOINTMENT ******************************/
/*******************************************/





.signup {
    grid-column: 1 / span 10;
    grid-row: span 10;
    text-align: center;
    padding: 80px 0;
}

.signup h2 {
    margin-bottom: 50px;
}


.signup h2:after {
    content: " ";
    display: block;
    height: 2px;
    background-color: #39ae38;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.signup h3 {
    padding-bottom: 100px;
}



.btn:link,
.btn:visited {
   
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    background-color: #eaeaea;
    color: #39ae38;
    border: 1px solid #39ae38;
    transition: background-color 350ms, color 350ms;
}

.btn:hover,
.btn:active {
    background-color: #39ae38;
    color: #eaeaea;
    
}




/** SCHEDULE APPOINTMENT ******************************/
/*******************************************/




/*
footer {
    grid-column: 1 / span 10;
    grid-row: span 5;
    background-color: #30302f;
    position: relative;
    color: #eaeaea;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
  
}

*/

footer {
    grid-column: 1 / span 10;
    grid-row: span 5;
    background-color: #333;
    padding: 40px;
    font-size: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   position: relative;

}

.footer-nav {
    list-style-type: none;
   
}

.footer-navi {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-images {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons {
    list-style: none;
   
   
    
}

.footer-nav li,
.social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-icons li:last-child {
    margin: 0;
}



.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #39ae38;
}

.footer-nav li a:after {
    padding-bottom: 4px;
    display: block;
    content: '';
    border-bottom: solid 1px #39ae38;  
    transform: scaleX(0);  
    transition: transform 300ms ease-in-out;
    
}

.footer-nav li a:hover:after { transform: scaleX(1); }

.social-icons li a:link,
.social-icons li a:visited {
    font-size: 160%;
}

.ion-logo-facebook,
.ion-logo-twitter,
.ion-logo-googleplus,
.ion-logo-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}



.ion-logo-facebook:hover {
    color: #3b5998;
}
.ion-logo-twitter:hover {
    color: #00aced;
}
.ion-logo-googleplus:hover {
    color: #dd4b39;
}
.ion-logo-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #888;
    text-align: center;
    
    margin-top: 60px;
}


.footer-logo {
   position: absolute;
  
    height: 100px;
    width: auto;
    top: 15px;
}
