

@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

body {
   display: grid;
 grid-template-columns: repeat(4,1fr);
 grid-template-rows: 5em 70vh auto 30vh 50vh;
    margin: 0;
    
    
    
}

header {
    
    grid-column: 1/span 4;
    grid-row: 2;
    
    
}

.parallax-window {
    
    background: transparent;
    
    
   
}



.information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
   background-color: rgb(243, 240, 240);
    
    grid-column: 1/span 4;
    grid-row: 3;
    padding: 50px 80px;
  
   
  
      
}


section {
    
    
   
    grid-column: 1/ span 4;
    grid-row: 4;
    
    
    
}


h3 {
    border: 1px solid red;
    
     font-family: 'Lato', sans-serif;
    letter-spacing: 5px;
    color: #111;
     grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-weight: normal
    

    
}

p {
    padding: 10px 10px;
    grid-column: 1/ span 3;
    grid-row: 3;
    font-family: 'Lato', sans-serif;
    line-height: 2em;
    font-size: 15px;
    
}




article {
    background-color: #252525;
    color: #e9d20f;
    grid-column: 1/span 4;
    grid-row: 1;
    
   
    
}




sidebar {
   
    background-color: darkorange;
    
}

.overlap {
	background-color: aquamarine;
    
}
